
<pre>{{userInput.quote}}</pre> 
<pre>{{userInput.personal}}</pre>
<pre>{{userInput.vehicle}}</pre>
<pre>{{userInput.risk}}</pre>
<pre>{{userInput.modification}}</pre>
<pre>{{userInput.license}}</pre>
<pre>{{userInput.insurance}}</pre>
<pre>{{userInput.accident}}</pre>
<a ui-sref="form.accident" class="btn btn-block btn-info">Back</a>
<a ui-sref="form.premium" ng-click="premiumCalculate(); excessCalculate(); theftExcessCalculate(); addLead();" class="btn btn-block btn-info">Get Premium</a>
