<label for="">What type of insurance are you seeking?</label>
 <div class="form-group">
	<input class="btn btn-default btn-lg btn-block"
           	type="button"
            name=""
            value="full quote"
            ui-sref="form.vehicle"
            ng-click="quoteSelector('full quote');">
    </input>
</div>

<div class="form-group">
	<input class="btn btn-default btn-lg btn-block"
			type="button"
			name=""
			value="third party quote"
			ui-sref="form.review"
			ng-click="quoteSelector('third party quote');">
    </input>
</div>
