<pre>Premium: {{premumValue | currency }}</pre>
<pre>Excess: {{excess  | currency}}</pre>
<pre>Theft Excess: {{theftExcess  | currency}}</pre>
<pre>Total Excess: {{excess + theftExcess | currency}}</pre>

<a ui-sref="form.review" class="btn btn-block btn-info">Back</a>


